{% extends 'base_index.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'autenticacao/css/cadastro.css' %}">
{% endblock %}

{% block 'titulo' %}Cadastro{% endblock %}

{% block 'index' %}



<div class="container mt-3" style="width: 50%;">
    {% if messages %}
    {% for message in messages %}
    <div class="alert {{message.tags}}">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    <div class="formulario">
        <div class="titulo-formulario">
            <p>Cadastre-se</p>
            <hr>
        </div>
        <form class="mt-5 needs-validation" action="{% url 'cadastro' %}" method="post" novalidate>{% csrf_token %}
            <div class="row">
                <div class="col-6">{{ form.nome|as_crispy_field }}</div>
                <div class="col-6 ">{{ form.email|as_crispy_field }}</div>
            </div>
            <div class="row">
                <div class="col-6">{{ form.telefone|as_crispy_field }}</div>
                <div class="col-6">{{ form.data_nascimento|as_crispy_field }}</div>
            </div>
            <div class="row">
                <div class="col-6">{{ form.senha|as_crispy_field }}</div>
            </div>
            <button class="btn btn-primary" type="submit">Enviar</button>
        </form>



    </div>
</div>

<br>
<ul>
    {% for usuario in usuarios %}
    <li>{{ usuario.id}} - {{ usuario }} - {{ usuario.data_nascimento}}</li>
    {% empty %}
    <li>Nenhum registro encontrado</li>
    {% endfor %}
</ul>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>

{% endblock %}